
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/miku.png" class="img-fluid" alt=""  id="photo" >
        </div>
        <!-- Nombre y apellido -->
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p class="nombre">Miku Hatsune</p>
            <p>Vocaloid</p>
        </div>
        <!-- Informacion de-->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione necessitatibus vero quibusdam perferendis molestiae, quaerat sint alias, minus odit veritatis quod possimus quos dolore vel, accusamus illo saepe placeat voluptates!</p>
            </span>
        </div>

    </div>


